*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body{
  font-family: 'Poppins', sans-serif;
  background: url(../assets/body.png), no-repeat;
  background-size: cover;
  min-height: 704px;
  max-width: 1100%;
}
nav{
  height: 80px;
  width: 100%;
}

label.logo{
  color: black;
  font-family: 'Lobster', cursive;
  font-size: 35px;
  margin-top: 50px;
}

.log{
  color: #ff9e1f;
}

.loggo{
  margin-bottom: -20px;
}

nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color:black;
  font-size: 17px;
  margin-right: 70px;
  padding: 5px  0.1px;
  border-radius: 3px;
}
a.active,a:hover{
  background: #ff9e1f;
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width: 952px){
  label.logo{
    font-size:30px;
    padding-left:50px;
  }
  nav ul li a{
    font-size: 16px;

  }
  @media (max-width: 858px){}
   .checkbtn{
    display: block;

  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul{
    left: 0;
  }
}
 section{
  background: url(back1.jpeg) no-repeat;
  background-size: cover;
  height: calc(100vh - 80px);

} 
.content-area{
  font-size: 20px;
  margin-top: 160px;
  margin-left: 30px;
  width: 600px;
}
h1{
  width: 380px;
  font-size: 50px;

}
h2{
  font-size: 20px;
  color: rgb(82, 76, 76);
  margin-top: 53px;


}
.button{
  width: 250px;
  height: 80px;
  background-color:#ff9e1f;
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-weight: 900;
  font-family: 'Poppins', sans-serif;
  margin-top: 10px;
  border-radius: 1.5em;
}
.button:hover{
  color: white;
}
p{
  font-size: large;
  display: flex;
  flex-direction: row;
  margin-left: 26em;
  color:#11010a;
  font-style: italic;
  font-weight: 1000;
  text-align: center;
  width: 400px;
}
/* card view*/
body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 100vh;
  background: #fafbfc;
}
body .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 40px 0:
}
 body .container .card {
   position: relative;
   min-width: 320px;
   height: 440px;
   box-shadow: inset 5px 5px 5px rgba (255, 254,254,0.2), inset -5px -5px -15px rgba(233,230,230,0.1),
   5px 5px 15px rgba(0, 0, 0.3), -5px -5px 15px rgba(255,255,255, 0.1);
   border-radius: 15px;
   transition: 0.5s;
 }
 body .container .card .box {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  color: rgb(2, 2, 2);
  bottom: 20px;
  background: #ebedf3;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.5s;
}

body .container .card .box:hover {
  transform: translateY(-50px);
}

body .container .card .box:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(241, 236, 236, 0.03);
}
body .container .card .box .content {
  padding: 20px;
  text-align: center;
}

/* body .container .card .box .content h2 {
  position: absolute;
  top: -10px;
  right: 30px;
  font-size: 8rem;
  color: rgba(255, 255, 255, 0.1);
} */

body .container .card .box .content h3 {
  font-size: 1.8rem;
  color: rgb(150, 57, 14);
  z-index: 1;
  transition: 0.5s;
  margin-bottom: 15px;
}

body .container .card .box .content p {
  font-size: 1rem;
  font-weight: 300;
  color: rgba(3, 3, 3, 0.9);
  z-index: 1;
  transition: 0.5s;
}

body .container .card .box .content a {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  background: black;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  margin-top: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}
body .container .card .box .content a:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
  background: #fff;
  color: #000;
}


/* menu */
.menu{
  padding: 0;
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(350px,1fr));
  grid-gap: 20px 40px;
}
.heading{
  color: #da661a;
  margin-bottom: 30px;
  padding: 120px 0 30px 0;
  grid-column: 1/-1;
  text-align: center;
}
